@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body reset and default font styling */

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

/* basic font style */

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  margin-top: 0px;
}

h3 {
  margin: 0px;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
}

a:link {
  color: #D93E15;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #D93E15;
}

.italic span,
.italic {
  font-style: italic;
}

.confession {
  font-size: 15px;
  margin-top: 50px;
}

/* Default button style */

button {
  background-color: #C1431F;
  color: #f9faff;
  padding: 10px 20px;
  border-radius: 10px;
}

/* Header section */

.header {
  background-color: #1f2937;
  color: #f9faff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 200px 100px 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top {
  display: flex;
  justify-content: space-between;
  width: 800px;
  padding-bottom: 100px;
}

.left h3 {
  color: #f9faff;
  font-size: 25px;
}

.top ul {
  margin: 0px;
}

.top ul li {
  display: inline;
  list-style-type: none;
  color: #e5e7eb;
}

.top ul li:not(:last-child):after {
  content: '  |  ';
  margin: 10px;
}

.top ul li:hover {
  color: #f9faff;
}

.bottom {
  width: 800px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.header button {
  border: 2px solid #C1431F;
  font-size: 20px;
  font-weight: 700;
}

.header img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Info section */

.info {
  flex: 1;
  text-align: center;
  padding: 80px;
}

.infopanel {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.info-item {
  width: 250px;
  height: 250px;
  text-align: center;
}


.info-item img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform .2s;
}

.info-item img:hover {
  transform: scale(3);
}

.info-item p {
  font-size: 20px;
  margin: 0px;
  text-align: center;
  margin-top: 10px;
  color: #1f2937;
}

/* Quote section */

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

blockquote {
  margin: 0px 25%;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

cite {
  font-weight: 700;
  margin-left: auto;
  margin-right: 25%;
  padding-top: 35px;
  font-size: 26px;
}

/* Call to action section */

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.callout {
  background-color: #1f2937;
  border-radius: 10px;
  color: #f9faff;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 25px 150px;
  font-size: 20px;
}

.callout button {
  border: 0;
  background-color: #3882f6;
  font-size: 30px;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.callout-text p {
  margin: 0px;
}

/* Footer section */

.footer {
  background-color: #1f2937;
  color: #f9faff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  padding: 20px;
}

@media (max-width: 800px) {

  .header {
    padding: 20px;
  }

  .header button {
    display: block;
    margin: auto;
  }

  .top,
  .bottom {
    flex-direction: column;
    width: 100%;

  }

  .bottom h1,
  .bottom p {
    text-align: center;
  }

  .bottom h1 {
    margin-top: 20px;
  }


  .top ul {
    padding: 0px;
  }

  .top {
    padding-bottom: 30px;
  }

  .bottom {
    align-items: center;
    flex-direction: column-reverse;
  }

  .info {
    padding: 40px;
  }

  .infopanel {
    flex-direction: column;
    align-items: center;
  }

  .info-item {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .2s;
  }

  .info-item img:hover {
    transform: scale(1.3);
  }

  .quote {
    padding: 20px;
  }

  cite {
    font-weight: 700;
    margin-left: auto;
    margin-right: 0;
    padding-top: 35px;
    font-size: 26px;
  }

  .quote blockquote {
    margin: 0px;
  }

  .cta {
    display: none;
  }
}